# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Firebase Service Account Key
firebaseServiceAccount.json

# Optionally, ignore other files/folders
# .DS_Store (Mac OS)
.DS_Store

# log files
*.log

# npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
